<!doctype html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="./styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- BEGIN BLOG HEADER -->
    <div class="section-blog-header">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <h1 style="color:white">Empresa: <%= @investment.offer.enterprise.name %></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOG HEADER -->

    <!-- BEGIN BLOG POST -->
    <div class="section-blog-post">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="post-container">

              <h1>RESUMO DO INVESTIMENTO</h1>

              <div class="post-body">
                <p> Se quiser alterar o montante investido nesta operação, faça o ajuste no campo abaixo. Ainda estão disponíveis para investimento nesta rodada <%= @max %> quotas.</p>
                <%= simple_form_for [@investment] do |f| %>
                  <%= f.input :amount, :label => 'Número de quotas:', :required =>false, input_html: { min: '0', max: @max }  %>
                  <p>Preço unitário da quota do investimento: R$<%= @investment.offer.pu %>,00</p>
                  <div style="margin: auto; justify-content: space-around;align-items:  center;display:  flex;">
                    <%= f.submit "Alterar Investimento", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
