<div class="bodycard">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer) do %>
      <div class="c-card">
        <% if offer.enterprise.photo == nil %>
          <div class="c-card__header" style="background-image: url('http://www.kolszewski.com/images/swimming.jpg?v5');">
        <% else %>
          <div class="c-card__header" style="background-image:url('<%= cl_image_path offer.enterprise.photo %>')">
        <% end %>
          <button class="c-button c-button--join" type="button">Empresa: <%= offer.enterprise.name %></button>
        </div>
        <div class="c-card__content">
          <p class="c-card__details" style="width:75%;">
            <span class="c-card__amount">Valor mínimo do investimento:R$<%= offer.pu %>,00</span>
          </p>
        </div>
        <div class="position hidden-xs">
          <div class="candidatos color1">
              <div class="parcial">
                  <div class="info">
                      <div class="nome"></div>

                      <% total_invested = Investment.where(status: "pendente").where(offer_id: offer.id).sum(:amount) %>
                      <% @invested = 100*total_invested %>
                      <div class="percentagem-num"><%= @invested/offer.units %>%</div>
                  </div>
                  <div class="progressBar">
                      <div class="percentagem" style="width:<%= @invested/offer.units %>%;"></div>
                  </div>
                  <div class="partidas">Total Captado</div>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>





