<div class="footer">
  <div class="footer-links">
    <%= link_to "", coming_soon_path, class: "fab fa-instagram" %>
    <%= link_to "", coming_soon_path, class: "fab fa-facebook" %>
    <%= link_to "", coming_soon_path, class: "fab fa-twitter" %>
    <%= link_to "", coming_soon_path, class: "fab fa-linkedin" %>
  </div>


  <div class="footer-links terms-conditions">
        <%= link_to "Termos e Condições", coming_soon_path%>
  </div>

  <div class="footer-links footer-copyright">
      <%= link_to "convEXITY", root_path%>

  </div>
</div>
