<div class="footer hidden-xs hidden-sm">
  <div class="footer-links">
    <%= link_to "", coming_soon_path, class: "fa fa-instagram" %>
    <%= link_to "", coming_soon_path, class: "fa fa-facebook" %>
    <%= link_to "", coming_soon_path, class: "fa fa-twitter" %>
    <%= link_to "", coming_soon_path, class: "fa fa-linkedin" %>
  </div>


  <div class="footer-links terms-conditions">
        <%= link_to "Termos e Condições", coming_soon_path%>
  </div>

  <div class="footer-links footer-copyright">
      <%= link_to "convexit|YC|apital", root_path%>

  </div>
</div>

<div class="footer hidden-md hidden-lg">

  <div class="footer-links footer-copyright" style="justify-content: space-around;">
      <%= link_to "convexit|YC|apital", root_path%>
  </div>
</div>
