<div class="navbar-wagon navbar-lp hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <span class="name-logo">convEXITY</span>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">





      <div class="booknow">
          <%= link_to "CADASTRE-SE AQUI", "/subscribers/new", class: "navbar-wagon-item navbar-wagon-link" %>
      </div>

      <!-- Avatar with dropdown menu -->
     <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "paper-plane.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-plane"></i> <%= t(".passagens", default: "Passagens aéreas") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-bed"></i>  <%= t(".hoteis", default: "Hóteis") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-car"></i>  <%= t(".carros", default: "Aluguel de Carros") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>

