<%= simple_form_for(@enterprise) do |f| %>
  <div class="form-group">
    <%= f.input :name, :label => 'Insira o nome da sua empresa:', :required =>false %>
  </div>

  <div class="form-group">
    <%= f.input :abstract, :label => 'Conte-nos resumidamente sobre o seu negócio:', :required =>false %>
  </div>
  <div class="form-group">
    <%= f.input :phone, :label => 'Telefone de contato:', :required =>false %>
  </div>
  <div class="form-group">
    <%= f.input :contact, :label => 'Pessoa para contato:', :required =>false %>
  </div>
  <div class="form-group">
    <%= f.input :website, :label => 'Sua empresa tem um website?', :required =>false %>
  </div>

  <div class="form-group">
    <%= f.input :photo, :label => 'Se desejar nos envie sua logo:', :required =>false %>
    <%= f.input :photo_cache, as: :hidden, value: "some value" %>
  </div>

  <%= f.submit "Cadastrar" %>
<% end %>
