<div class="testimonials">

  <h2>Empresas<span class="point-orange">.</span></h2>
  <h3>Empresas cadastradas na nossa base:</h3>
  <%= link_to "Criar nova empresa", new_enterprise_path %>


  <div class="row">

    <% @enterprises.each do |enterprise| %>
      <%= link_to enterprise_path(enterprise) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" >
           <div class="card-testimonial card-testimonial" style="background-color:gray">
            <div class="card-description--blue"
              data-hover="Clique aqui para saber mais!">
              <p> Nome: <%= enterprise.name %> </p>
              <p> Time: <%= enterprise.team %> </p>
              <p> Resumo: <%= enterprise.abstract %> </p>
             </div>
           </div>
          </div>
        </div>
      <% end %>
    <% end %>




 </div>
</div>
