<section class="blog-post">
  <div class="panel panel-default">
    <% if post.featured_image == nil %>
      <img src="https://images.unsplash.com/photo-1515606378517-3451a4fa2e12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb830c394f6c9d7275b1662668f291dd&auto=format&fit=crop&w=1100&q=80" class="img-responsive" />
    <% else %>
      <%= image_tag post.featured_image, class: 'img-responsive' %>
    <% end %>
    <div class="panel-body">
      <div class="blog-post-meta">
        <span class="label label-light label-info">
          <% post.categories.each do |category| %>
            <%= link_to category.name, buttercms_category_path(category.slug), :title => category.name %>
          <% end %>
        </span>
        <p class="blog-post-date pull-right"><%= post.data.created[0..9] %></p>
      </div>
      <div class="blog-post-content">
        <h2 class="blog-post-title"><%= link_to post.title, buttercms_post_path(post.slug), :title => post.title %></h2>
        <p><%= post.summary %></p>
        <a class="btn btn-info"><%= link_to "Leia mais", buttercms_post_path(post.slug), :title => post.title %></a>
        <a class="blog-post-share pull-right" href="#">
          <i class="material-icons">&#xE80D;</i>
        </a>
      </div>
    </div>
  </div>
</section>



