<%= content_for :html_title, @post.seo_title %>
<%= content_for :meta_description, @post.meta_description %>

<!-- Post title -->
<h2><%= @post.title %></h2>

<!-- Post author -->
<p>
  <%= link_to "#{@post.author.first_name} #{@post.author.last_name}", buttercms_author_path(@post.author.slug) %>
</p>

<!-- Post categories -->
<% @post.categories.each do |category| %>
  <%= link_to category.name, buttercms_category_path(category.slug), :title => category.name %>
<% end %>

<!-- Publish date -->
<p><%= Time.parse(@post.published).strftime('%B %d, %Y') %></p>

<!-- Post body -->
<%= @post.body.html_safe %>

<!-- Link to Next Post -->
<% if @next_post %>
  <%= link_to @next_post.title, buttercms_post_path(@next_post.slug), :title => @next_post.title %>
<% end %>

<!--
// For sharing, we recommend https://www.addthis.com/get/sharing or https://sumome.com/app/share
-->

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-convexity-herokuapp-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//https-convexity-herokuapp-com.disqus.com/count.js" async></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b6a5c6496ce1b2c"></script>
